EXPO_PUBLIC_API_BASE_URL=https://okadago-backend.onrender.com/v1
EXPO_PUBLIC_EAS_PROJECT_ID=ae3d1d1a-2ce9-40ec-b4a4-97510377682e
EXPO_PUBLIC_GOOGLE_MAPS_ANDROID_API_KEY=your-android-maps-api-key
EXPO_PUBLIC_GOOGLE_MAPS_IOS_API_KEY=your-ios-maps-api-key
EXPO_USE_UPDATES=1
